<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TextAnalyzer/src/TextAnalyzerWithDictionary.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="TextAnalyzerWithDictionary"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="java TextAnalyzerDictionary dictionary.txt C:\Users\stefano\Desktop\File\fileOk_1.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TextAnalyzer"/>
</launchConfiguration>
